<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="element == false">
    <p style="margin-left: 10px; margin-right:10px;">Debe ingresar su correo para reestablecer su contraseña.</p> 
    <ion-item>
      <ion-label position="floating" color="sucess">Correo</ion-label>
      <ion-input [(ngModel)]="correo" type="email"></ion-input>
    </ion-item>
  </div>
  <div *ngIf="element">
    <p style="margin-left: 10px; margin-right:10px;">Ingrese su nueva contraseña.</p> 
  <ion-item class="items">
    <ion-label position="floating" color="sucess">Contraseña</ion-label>
    <ion-input type="password" class="inputc" [(ngModel)]="clave"></ion-input>
  </ion-item>
  <p class="suggestions"> 
    * La contraseña debe incluir:<br>
    * Un largo de <b>8 caracteres.</b><br>
    * Una <b>mayúscula y un número.</b><br>
  </p>
  <ion-item class="items">
    <ion-label position="floating" color="sucess">Repetir contraseña</ion-label>
    <ion-input type="password" class="inputc" [(ngModel)]="clave1"></ion-input>
  </ion-item>
  </div>

  <div class="boton" *ngIf="element == false">
    <ion-button (click)="validarUsuario()" type="submit">Continuar</ion-button>
  </div>
  <div class="boton" *ngIf="element">
    <ion-button (click)="validarCampos()" type="submit">Cambiar clave</ion-button>
  </div>
</ion-content>
