<ion-header>
  <ion-toolbar>
    <ion-title>¡Hola!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with value -->
  <h1>Conductores disponibles</h1>
  <ion-card *ngFor="let x of arregloViaje">
    <ion-avatar class="imagen">
      <img src="../assets/Imagenes/Oliva.webp" style="align-self: center;" />
    </ion-avatar>
    <ion-card-content>
      <ion-card-title>
        {{x.correoc}}
      </ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="car-sport-outline"></ion-icon>
        {{x.Descripcion}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="barcode-outline"></ion-icon>
        KK-DF-32
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="man-outline"></ion-icon>
        4
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="map-outline"></ion-icon>
        {{x.Direccion}}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="cash-outline"></ion-icon>
        {{ x.Precio | currency: 'CLP' }}
      </ion-card-subtitle>
      <div class="si">
        <ion-button class="boton" [routerLink]="['/tomarauto']" ><ion-icon name="car-outline"></ion-icon> Tomar viaje</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="si">
    <ion-button class="boton" routerLink="/viajeactivo">Viaje Activo</ion-button>
  </div>
</ion-content>
