.boton{
    text-align: center;
    margin-top: 30px;
    
}
.inicia{
    width: 50%;
}
.imgmap{
    margin: auto; 
    width: 96%;
    height: 96%; 
    margin-top: 10px; 
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,0.35);
    border-radius: 10px;

}
ion-button{
    --background: #74121D;
    --color: #fff;
    --background-hover: #777777;
}

ion-content {
    
    text-align: center;
    --background:none!important;
}

ion-toolbar{
    --background: #74121D;
    --color: #fff;
    text-align: center;
}

.maps{
    width: 100%;
    height: 80%;
}
capacitor-google-maps {
    display: inline-block;
    width: 100%;
    height: 80%;
}