<ion-header>
  <ion-toolbar>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<!--******************************************************* MAPA *******************************************************-->
<div class="maps">
  <capacitor-google-maps #map></capacitor-google-maps>
</div>
  <div class=""  >
    <ion-button  type="submit" (click)="iniciar()">Iniciar un nuevo viaje</ion-button>
  </div>
  <div class="boton" >
    <ion-button type="submit"  (click)="activo()">Mi viaje actual</ion-button>
  </div>
</ion-content>
