.boton{
    text-align: center;
    margin-top: 30px;
}
.inicia{
    width: 50%;
}
ion-content {
    --background: #ffffff;
    text-align: center;
}

ion-toolbar{
    --background: #74121D;
    --color: #fff;
}
.imgmap{
    margin: auto; 
    width: 96%;
    height: 96%; 
    margin-top: 10px; 
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0,0.35);
    border-radius: 10px;

}