.imagen {
    height: 130px;
    width: 130px;
    margin: auto;
    margin-top: 15px;
    border: #000 solid 1px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.2);

}
.suggestions{
    font-size: 13px;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
}
.si{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.boton{
    width: auto;
    --background: #74121D;
}
.bold{
    font-weight: bold;
}
ion-content{
    --background: #fff;
    text-align: center;
    
}
ion-toolbar{
    --background: #74121D;
    --color: #fff;
    text-align: center;
}
