<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
    <h1>Mi cuenta</h1>
  </ion-list-header>
  <ion-item detail routerLink ="/miperfil">
    <ion-icon slot="start" name="person-outline"></ion-icon>
    <ion-label>Mi perfil</ion-label>
  </ion-item>
  <ion-item detail routerLink ="/sobrenosotros">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <ion-label>Sobre nosotros</ion-label>
  </ion-item>
</ion-content>
