<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Tomar viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Conductor</h1>
  <ion-avatar class="imagen">
    <img src="../assets/Imagenes/Oliva.webp" style="align-self: center;" />
  </ion-avatar>
  <h1 style="text-align: center;" *ngFor="let x of arregloViaje">{{ x.nombre3 }}</h1>
    <!-- <b>Descripción:</b> El auto es de color rojo y está al frente de el sector de cancha. -->
    <div *ngFor="let x of arregloViaje">
  <ion-item>
    <ion-label>
      {{x.auto3}}
    </ion-label>
    <div class="ictxt">
      <ion-icon name="car-sport-outline" slot="end"></ion-icon>      
      <p style="font-size: 11px;">Vehículo</p>
    </div>
  </ion-item>

  <ion-item>
    <ion-label>
      {{x.patente3}}
    </ion-label>
    <div class="ictxt">
      <ion-icon name="barcode-outline"slot="end" ></ion-icon>
      <p style="font-size: 11px;">Patente</p>
    </div>
  </ion-item>

  <ion-item>
    <ion-label>
      {{x.asientos_disp3}} Disponibles
    </ion-label>
    <div class="ictxt">
      <ion-icon name="man-outline" slot="end"></ion-icon>
      <p style="font-size: 11px;">Asientos</p>
    </div>
  </ion-item>

  <ion-item>
    <ion-label>
      {{ x.nombre_comuna3 }}
    </ion-label>
    <div class="ictxt">
      <ion-icon name="map-outline" slot="end"></ion-icon>      
      <p style="font-size: 11px;">Dirección</p>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>
      Fila {{x.fila3}}
    </ion-label>
    <div class="ictxt">
      <ion-icon name="location-outline"slot="end"></ion-icon>      
      <p style="font-size: 11px;">Ubicación</p>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>
      {{ x.precio3 | currency: 'CLP' }}
    </ion-label>
    <div class="ictxt">
      <ion-icon name="cash-outline"></ion-icon>
      <p style="font-size: 11px;">Precio</p>
    </div>
  </ion-item>
  <ion-item style="margin-top: 5px; margin-bottom: 5px;">
    <ion-label>
      {{x.descripcion2}}
    </ion-label>
    <div class="ictxt">
      <ion-icon name="chatbubble-outline"></ion-icon>      
      <p style="font-size: 11px;">Descripción</p>
    </div>
  </ion-item>
</div>

  <ion-img *ngIf="Desplegarimagen" src="assets/Imagenes/Screenshot_1.jpg" alt="" class="imgmap"></ion-img>
  <div style="text-align: center;">
    <ion-button mat-raised-button
        matTooltip="Presione para mostrar las filas del estacionamiento."
        aria-label="Button that displays a tooltip when focused or hovered over" (click)="desplegarImgen()" class="boton">
        {{estado}}
    </ion-button>
  </div>

  <div style="text-align: center;">
    <ion-button class="boton" (click)="Tomar()">Tomar viaje</ion-button>
  </div>

  
</ion-content>
