<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar *ngFor="let z of arregloUsuario" class="imagen">
      <img [src]="z.foto1" style="align-self: center;" />
    </ion-avatar>
    <ion-card-content *ngFor="let i of arregloUsuario">
      <ion-card-title>
        {{i.nombreCompleto4}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <!-- ***********************PERFIL USUARIO*********************** -->
  <ion-row>
    <ion-col col-2>
      <h1>Información Personal</h1>
    </ion-col>
  </ion-row>
  <div *ngFor="let x of arregloUsuario">
  <ion-row>
    <ion-col col-8>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{x.nombre4}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="person-outline"></ion-icon>
        </div>
      </ion-item>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{x.apellido4}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="people-outline"></ion-icon>
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          +569{{x.telefonoC}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="call-outline"></ion-icon>
        </div>

      </ion-item>
    </ion-col>
  </ion-row>
</div>
  <div class="si">
    <ion-button class="boton" (click)="pasarDatos()">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>Editar perfil
    </ion-button>
  </div>
<!-- ***********************VEHÍCULO*********************** -->
  <ion-row>
    <ion-col col-2>
      <h1>Mi Vehículo</h1>
    </ion-col>
  </ion-row>
  <!--Datos del auto-->
  <div *ngFor="let a of arregloAuto">
  <ion-row>
    <ion-col col-8>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{a.patente}}
        </ion-label>
        <div class="ictxt">
          Patente
        </div>
      </ion-item>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{a.marca}}
        </ion-label>
        <div class="ictxt">
          Marca
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{a.modelo}}
        </ion-label>
        <div class="ictxt">
          Modelo
        </div>

      </ion-item>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{a.annio}}
        </ion-label>
        <div class="ictxt">
          Año
        </div>

      </ion-item>
    </ion-col>
  </ion-row>
  </div>
  <div class="si">
    <ion-button class="boton" (click)="pasarDatosV()">
      <ion-icon name="car-outline"></ion-icon> Modificar vehículo
    </ion-button>
  </div>

  <div class="si">
    <ion-button class="boton" (click)="alerta()">
      <ion-icon name="log-out-outline"></ion-icon> Cerrar sesión
    </ion-button>
  </div>
</ion-content>
