<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar class="imagen">
      <img src="../assets/Imagenes/shalas.jpg" style="align-self: center;" />
    </ion-avatar>
    <ion-card-content>
      <ion-card-title>
        {{Nombre}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <!--Botón editar perfil-->
  <ion-row>
    <ion-col col-2>
      <h1>Información</h1>
    </ion-col>
  </ion-row>

  <!--Datos del perfil-->
  <ion-row>
    <ion-col col-8>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{Nombre}}
          
        </ion-label>
        <div class="ictxt">
          <ion-icon name="person-outline"></ion-icon>
          
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{usuario}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="mail-outline"></ion-icon>
          
        </div>

      </ion-item>

      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{Telefono}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="call-outline"></ion-icon>
          
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{Direccion}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="home-outline"></ion-icon>
          
        </div>
      </ion-item>
      <ion-item>
        <ion-label style="word-wrap: break-word; white-space: normal;">
          {{vehiculo}}
        </ion-label>
        <div class="ictxt">
          <ion-icon name="car-outline"></ion-icon>          
          
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="si">
    <ion-button class="boton" routerLink="/configuracion-conductor">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>Editar
    </ion-button>
  </div>
  <div class="si">
    <ion-button class="boton" (click)="alerta()">
      <ion-icon name="log-out-outline" ></ion-icon> Cerrar sesión
    </ion-button>
  </div>
</ion-content>
