<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h1>Datos del viaje</h1>
    <div *ngFor="let x of listaPatente">{{x.patente1}}</div>
    {{idDv}}
    <ion-list>
      <ion-item>
        <ion-select placeholder="Seleccione una comuna" class="ion-text-center"  [(ngModel)]="direccion">
          <ion-select-option [value]=x.id_comuna *ngFor="let x of listaComuna">{{x.nombre_comuna}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item class="items">
      <ion-label position="floating" color="sucess">Fila</ion-label>
      <ion-input [(ngModel)]="fila" type="number"></ion-input>
    </ion-item>
    <p class="suggestions"> 
      * Debe escribir el <b>número</b> de la fila. <br>
      * Ejemplo: 1
    </p>
    <ion-item>
      <ion-label position="floating" color="sucess">Precio</ion-label>
      <ion-input [(ngModel)]="precio" type="number"></ion-input>
    </ion-item>
    <p class="suggestions"> * El precio debe ser <b>mínimo</b> CLP1,000.</p>
    <ion-item>
      <ion-label position="floating" color="sucess">Asientos Disponibles</ion-label>
      <ion-input [(ngModel)]="asientos" type="number"></ion-input>
    </ion-item>
    <p class="suggestions"> * Ejemplo: 5.</p>

    <ion-item style="margin-top: 5px; margin-bottom: 5px;">
      <ion-label position="floating" color="sucess" >Descripción</ion-label>
      <ion-textarea [(ngModel)]="descrip"></ion-textarea>
    </ion-item>
    <p class="suggestions"> 
      * Debe tratar de escribir:  <br>
      * <b>Color de su vehículo.</b> <br>
      * <b>Objeto u autos cercanos de orientación.</b>
    </p>
    <ion-img *ngIf="Desplegarimagen" src="assets/Imagenes/Screenshot_1.jpg" alt="" class="imgmap"></ion-img>
    <div style="text-align: center;">
      <ion-button (click)="desplegarImgen()" class="btnactive">
        <ion-icon name="location-outline"></ion-icon> {{estado}}
      </ion-button>
    </div>

    <div class="boton">
      <ion-button class="inicia" type="submit" (click)="validar()">Iniciar viaje</ion-button>
    </div>

  </div>
</ion-content>