
.boton{
    text-align: center;
    margin-top: 30px;
    
}
.boton{
    width: auto;
    --background: #74121D;
    margin-top: 20px;
}
.imgmap{
    margin: auto; 
    width: 90%; 
    margin-top: 20px; 
    border: #807f7f dashed 1px;
}
ion-button{
    --background: #74121D;
    --color: #fff;
    --background-hover: #777777;
}
ion-content {
    --background: #ffffff;
    text-align: center;
}

ion-toolbar{
    --background: #74121D;
    --color: #fff;
}