<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="imagen" (click)="CambiarFoto()">
    <img [src]="foto" style="align-self: center;" />
  </ion-avatar>
  <ion-icon name="camera-outline"></ion-icon>
  <div >
    <ion-item class="items" matRipple [matRippleCentered]="centered">
      <ion-label color="sucess" class="bold">Nombre</ion-label>
      <ion-input [(ngModel)]="nom"></ion-input>
    </ion-item>
    <ion-item class="items" matRipple [matRippleCentered]="centered">
      <ion-label color="sucess" class="bold">Apellidos</ion-label>
      <ion-input [(ngModel)]="app"></ion-input>
    </ion-item>
    <ion-item class="items" matRipple [matRippleCentered]="centered">
      <ion-label color="sucess" class="bold">Teléfono</ion-label>
      <ion-input [(ngModel)]="tel">{{area}}</ion-input>
    </ion-item>
    <p class="suggestions"> 
      * Debe escribir 8 dígitos <b>(sin el dígito verificador).</b><br> 
      * Ejemplo: 12345678
    </p>
    <div class="si">
      <ion-button class="boton" (click)="validarEditar()">Guardar Cambios</ion-button>
    </div>
  </div>


</ion-content>
