<ion-header>
  <ion-toolbar>
    <ion-title>Viaje activo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Mi viaje</h1>
  <p style="text-align: center;">Este es el viaje que tienes activo:</p>
  <ion-item>
    <ion-label>
      Til-til
    </ion-label>
    <div class="ictxt">
      <p style="font-size: 11px;">En dirección a...</p>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>
      {{ num | currency: 'CLP' }}
    </ion-label>
    <div class="ictxt">
      <p style="font-size: 11px;">Precio</p>
    </div>
  </ion-item>
  <ion-grid>
    <ion-img src="assets/Imagenes/mapa.jpeg" class="imgmap" ></ion-img>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>
          Kevin Oyaneder
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Pasajero 1</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          Carlos Fabres
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Pasajero 2</p>
        </div>
      </ion-item>
    
      <ion-item>
        <ion-label>
          Vicente Echeverría
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Pasajero 3</p>
        </div>
    
      </ion-item>
    
      <ion-item>
        <ion-label>
          Vacío...
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Pasajero 4</p>
        </div>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <div style="text-align: center;">
    <ion-button class="boton" routerLink="/tabconductor">Menú principal</ion-button>
  </div>
  <div style="text-align: center;">
    <ion-button class="boton" (click)="alerta()">Cancelar viaje</ion-button>
  </div>
</ion-content>
