<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center ;">Tu viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">¡Viaje tomado con éxito!</h1>
  <p style="text-align: center;">Este es el viaje que tienes activo:</p>
  <ion-grid>
    <!--Es solo una imagen no es el mapa-->
    <ion-img src="assets/Imagenes/mapa.jpeg" class="imgmap" ></ion-img>
  </ion-grid>
  <ion-card *ngFor="let x of arregloViaje">
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{ x.nombre3 }}
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Conductor</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          {{x.auto3}}
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Vehículo</p>
        </div>
      </ion-item>
    
      <ion-item>
        <ion-label>
          {{x.patente3}}
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Patente</p>
        </div>
    
      </ion-item>
    
      <ion-item>
        <ion-label>
          Fila {{x.fila3}}
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Ubicación</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>
          {{ x.nombre_comuna3 }}
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Dirección</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>
          {{ x.precio3 | currency: 'CLP' }}
        </ion-label>
        <div class="ictxt">
          <p style="font-size: 11px;">Precio</p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  
  <div style="text-align: center;">
    <ion-button class="boton" routerLink="/tabs">Menú principal</ion-button>
  </div>
  <div style="text-align: center;">
    <ion-button class="boton" (click)="alerta()">Cancelar viaje</ion-button>
  </div>
</ion-content>
